<%-include('../includes/head.ejs')  %>

    <%-include('../includes/navigation.ejs')  %>
   
    <h1>Some Error Occured!</h1>
    <p>We are fixing this! Sorry for the inconvenience</p>

<%- include('../includes/footer.ejs') %>
